/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
}

/* Encabezado */
header {
   background: linear-gradient(to bottom, rgb(0255, 136, 0), rgb(255, 136, 0));
    color: white;
    padding: 40px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

/* Secciones */
section {
   background: linear-gradient(45deg, rgb(248, 248, 248), rgb(255, 255, 255));
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}
